meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(http-equiv='Content-Security-Policy', style-scr="nonce-" content='script-src', 'self' 'sha256-ThhI8UaSFEbbl6cISiZpnJ4Z44uNSq2tPKgyRTD3LyU=')
link(rel='stylesheet', href='../assets/css/styles.min.css')
title Bake-app
